@using EcoMapGbg.Models
@using Microsoft.AspNetCore.Components

<div class="place-card">
    <h3 class="place-name">@Item.Name</h3>
    <p><strong>Category:</strong> @Item.Type</p>
    <p><strong>Address:</strong> @Item.Address</p>
    <p><strong>Description:</strong> @Item.Description</p>
</div>

@code {
    [Parameter]
    public Location Item { get; set; } = default!;
}
