@using EcoMapGbg.Models.DTO

@if (Visible)
{
    <div class="modal fade show d-block" style="background-color: rgba(0,0,0,0.5);" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header eco-gradient text-white">
                    <h5 class="modal-title">
                        <span class="fs-4">🌱</span> Add New Eco Place
                    </h5>
                    <button type="button" class="btn-close btn-close-white" @onclick="OnCloseClicked"></button>
                </div>
                <div class="modal-body">
                    <AddLocationForm OnLocationAdded="OnLocationAdded"
                                     OnClose="OnCloseClicked"
                                     ShowCancelButton="false" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show" @onclick="OnCloseClicked"></div>
}

@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<Location> OnLocationAdded { get; set; }

    private async Task OnCloseClicked() => await OnClose.InvokeAsync();
}
