@page "/places/add"
@inject NavigationManager Navigation

<h2 class="text-success mb-4">➕ Add New Eco Place</h2>

<AddLocationForm OnSuccess="GoBackToPlaces" />

@code {
    private void GoBackToPlaces()
    {
        Navigation.NavigateTo("/places");
    }
}
